html {
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 100%;
    max-width: 100%;
    font: #{($base-font-size/16px)*100%}/#{$base-line-height} $base-font-family;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    background: $white;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    background: $white;
    color: $base-color;
    text-rendering: optimizeLegibility;
    background: $white;
}

.warning {
    //padding: $half-spacing/2 $half-spacing;
    &.lede {
        @include font-size(14px);
        color: red;
    }
}

hr {
    clear: both;
    margin-bottom: $base-spacing;
    border: none;
    border-bottom: 1px dashed rgba($code-bg, .1);
    padding-bottom: $half-spacing;
    height: 1px;
}

img {
    display: block;
    max-width: 100%;
}

blockquote p {
    display: block;
    border-left: 3px solid $code-bg;
    padding-left: $half-spacing;
    font-style: italic;
    color: rgba($black, .5);
    padding-top: $half-spacing/2;
    padding-bottom: $half-spacing/2;
    margin-bottom: $base-spacing;
}
