.button {
    outline: 0;
    border: 2px solid $white;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 1em 2em;
    
    &:hover, &:focus {
        background: lighten($blue, 10%);
        color: $white;
    }
}