.button {

    outline: 0;
    border: 2px solid $blue;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 1em 2em;
    text-decoration: none;

    color: white;

    &:hover, &:focus {
        color: $white;
        background: darken($blue, 40%);
        //color: lighten($blue, 10%);
    }
}

.button--invert {
    color: $black;
    border: 2px solid $black;

    &:hover, &:focus {
        color: $blue;
        background: transparent;
        border-color: $blue;
    }
}
