.button {

    outline: 0;
    border: 2px solid $blue;
    color: $blue;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 1em 2em;
    text-decoration: none;

    &:hover, &:focus {
        background: lighten($blue, 10%);
        color: $blue;
    }
}
