code, samp {

    @include font-size(16px);
    font-family: $mono-font-family;
    //background: $code-bg;
    padding: 2px 4px;
    margin: 0 2px;
    border: 1px solid darken($code-bg, 5%);
    border-radius: 3px;
}

.highlight, pre {

    padding: $half-spacing $half-spacing*1.5; // compensate for line height
    line-height: 1.4;
    //background: $code-bg;
    overflow: auto;

    /* reset previous inline code styles */
    code {
        border: 0;
        padding: 0;
        margin: 0;
    }

    margin-bottom: $base-spacing;
    margin-top: $base-spacing;
    //border: 1px solid darken($code-bg, 5%);
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    @include media-query(min, $lap-start) {

        margin-left: 0;
        margin-right: 0;
    }
}

.lang-bash {
    position: relative;
    &:after {
        position: absolute;
        //top: -$base-spacing;
        //left: -$base-spacing;
        //color: rgba($black, .5);
    }
}
