code, samp {

    @include font-size(16px);
    font-family: $mono-font-family;
    background: lighten(#ccc, 15%);
    padding: 2px 4px;
    border-radius: 3px;
}

.highlight, pre {

    padding: $half-spacing $half-spacing*1.5; // compensate for line height
    line-height: 1.4;
    background: $code-bg;
    border-radius: 3px;
    color: #ccc;
    overflow: auto;
    text-shadow: 1px 1px 1px rgba($black, .5);

    /* reset previous inline code styles */
    code {
        border: 0;
        padding: 0;
        margin: 0;
        background: $code-bg;
    }

    margin-bottom: $base-spacing;
    border: 1px solid rgba($black, .04);

    @include media-query(min, $lap-start) {
        margin-left: 0;
        margin-right: 0;
    }
}

.lang-bash {
    position: relative;
    &:after {
        position: absolute;
        //top: -$base-spacing;
        //left: -$base-spacing;
        //color: rgba($black, .5);
    }
}
