.demo {
  @include media-query(min, $lap-start) {
      padding-top: $base-spacing;
  }
}

.demo__snippet {

  margin-bottom: $base-spacing;
  position: relative;
  text-align: center;

  @include media-query(min, $lap-start) {
    text-align: left;
  }

  code {
    display: inline-block;
    background: $code-bg;
    color: $white;
    padding: 1em 1.5em;
  }

  //.highlight {
  //  border: 0;
  //  text-align: left;
  //  max-width: 320px;
  //  margin: 0 auto;
  //  @include media-query(min, $lap-start) {
  //    margin-left: 0;
  //  }
  //  background: darken($code-bg, 10%);
  //  code {
  //    background: darken($code-bg, 10%);
  //  }
  //}

  //@include media-query(min, $lap-start) {
  //  margin-left: auto;
  //  margin-right: auto;
  //}
}

.demo__snippet__title {
  color: $blue;
  display: block;
  text-align: center;
  margin-bottom: $half-spacing;
  @include media-query(min, $lap-start) {
    text-align: left;
  }
}
