.footer {
    background: $white;
    color: $grey-lt;
    text-align: center;
}

.copyright {
    text-transform: uppercase;
    font-size: 0.8em;
    color: $grey-lt;

    &:hover {
        color: $orange;
    }
}
