@import "../vars";

.site-header {

    position: relative;
    padding-top: $half-spacing;
    padding-bottom: $half-spacing;
    background: $blue;

    @include media-query(min, $lap-start) {
        padding-top: $base-spacing*2;
        padding-bottom: $base-spacing*2;
    }

    > * {
        position: relative;
        z-index: 1;
    }
}

.site-header__items {
    @include media-query(min, $lap-start) {
        display: flex;

    }
}

.site-header__content {
    padding-bottom: $base-spacing * 3;

    @include media-query(min, $lap-start) {
        padding-top: $base-spacing *2;
    }
}