.hero {
    margin-bottom: $base-spacing;
}
.hero__title {
    text-align: center;
    margin-bottom: 0;
}
.hero__summary {
    text-align: center;
    font-weight: normal;
}

.hero__content {
    max-width: 500px;
    margin: 0 auto;
    padding-top: $half-spacing/2;
    padding-bottom: $half-spacing/2;
}

.hero__cta {
    text-align: center;
    @include font-size(20px);
}

.hero__cta__link {
    border: 1px solid $black;
    //color: $silver-dk;
    border-bottom-width: 3px;
    display: inline-block;
    padding: $half-spacing/2 $base-spacing 4px;

    &:hover {
        border-color: $orange;
        color: $orange;
    }
}

.value {

}
.value__items {
    @include list-reset;
}

.value__item {
    text-align: center;
    @include font-size(20px);
}
