.hero {

    position: relative;
    background: $blue;

    > * {
        position: relative;
        z-index: 1;
    }
}

.hero__items {
    @include media-query(min, $lap-start) {
        display: flex;

    }
}