.home-block {
    display: flex;
}

.home-block__text {
    @include media-query(min, $lap-start) {
        width: 40%;
    }
}

.home-block__media {
    @include media-query(min, $lap-start) {
        width: 60%;
        padding-left: 10%;
    }
}
