.intro {
    @include media-query(min, $lap-start) {
        width: 50%;
        padding-right: 4em;
    }
}

.intro__content {
    @include media-query(min, $lap-start) {
        padding-top: 2em;
    }
    color: $white;
}