.wrapper {
    clear: both;
    width: 100%;
    padding-top: $base-spacing;
    padding-bottom: $base-spacing;

    @include media-query(min, $lap-start) {
        padding-top: $base-spacing*2;
        padding-bottom: $base-spacing*2;
    }
}

.container {
    margin: 0 auto;
    padding-right: $half-spacing;
    padding-left: $half-spacing;
    width: auto;
    max-width: $page-width;
    list-style: none;

    @include media-query(min, $lap-start) {
        padding-right: $base-spacing;
        padding-left: $base-spacing;
    }
}

.container--skinny {
    max-width: 800px;
}

.layout-1col {

}

.layout-2col {
    > .container {
        @include clearfix;
    }
}

.site-body {
    background: $white;
}
