.logo {

    color: $white;
    max-width: 200px;
    display: block;
    font-size: 0;

    &:hover {
        color: $white;
    }

    svg {
        display: block;
        width: 150px;

        @include media-query(min, $lap-start) {
            width: 200px;
        }
    }
}
