.logo {
    color: $white;
    display: block;
    max-width: 320px;
    font-size: 0;
    margin: 0 auto;

    //@include media-query(min, $lap-start) {
    //    margin-left: 0;
    //}

    &:hover {
        color: $white;
    }

    svg {
        width: 100%;
    }
}

.tagline {
    padding-top: $half-spacing;
    color: $blue;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: .8em;

    @include media-query(min, $lap-start) {
        //text-align: left;
        font-size: 1.2em;
    }
}
