@import "../vars";

.site-header {

    position: relative;
    padding-top: $half-spacing;
    padding-bottom: $half-spacing;
    background: $black;


    > * {
        position: relative;
        z-index: 1;
    }
}

.site-header__content {
    padding-bottom: $base-spacing * 3;

    @include media-query(min, $lap-start) {
        padding-top: $base-spacing *2;
    }
}
