.tab-content {
    display: none;
}
.tab-content--active {
    display: block;
}

.tab-nav {
    display: flex;
    margin-bottom: -1px;
    padding-left: $half-spacing;
}

.tab-nav__button {
    display: inline-block;
    background: transparent;
    border: 1px solid rgba($black, .04);
    padding: 0.5em 1em;
    @include media-query(min, $lap-start) {
        padding: 1em 2em;
    }
    text-align: center;
    font-family: monospace, monospace;
    font-size: 0.8em;
    margin-right: 4px;
    border-bottom: 0;
    transform: scale(0.9);
    transform-origin: bottom;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    //border-left-width: 0;
    //&:first-child {
    //    border-left-width: 1px;
    //}
}

.tab-nav__button--active {
    background: $code-bg;
    color: $orange;
    z-index: 1;
    transform: scale(1);
    &:hover, &:focus, &:active {
        color: $orange;
    }
}