.tool-list {
    //@include list-reset;
    display: flex;
    justify-content: center;

    padding-top: $base-spacing;

    @include media-query(min, $lap-start) {
        padding-top: $base-spacing*2
    }

    svg {
        height: 74px;
        max-width: 40px;
        @include media-query(min, $lap-start) {
            max-width: 74px;
        }
    }
}
.tool-list__item {
    //display: flex;
    position: relative;
    //align-items: center;
    padding-right: $base-spacing*2;
    &:after {
        position: absolute;
        display: block;
        //display: none;
        top: calc(50% - #{$half-spacing});
        font-weight: bold;
        color: $blue;
        //outline: 1px solid red;
        //height: 6px;
        line-height: 1;
        right: $half-spacing*1.5;
        content: '+';
    }
    &:last-child {
        padding-right: 0;
        &:after {
            display: none;
        }
    }
}
