<ul>
    {{#pages}}
    {{#if_not_eq this.url '/docs'}}
        {{#if_not_eq this.url '/'}}
        <li><a href="{{this.url}}">{{this.url}}</a></li>
        {{/if_not_eq}}
    {{/if_not_eq}}
    {{/pages}}
</ul>
