---
title: Crossbow - finally a task runner done right
---
<div class="hero">
    <h1 class="hero__title">Finally, a task runner done right!</h1>
    <h2 class="hero__summary">Uniting the ecosytem of front-end tooling</h2>
    <div class="hero__content">
        <div class="tab-nav">
            <a href="#intro-cbfile" class="tab-nav__button tab-nav__button--active">cbfile.js</a>
            <a href="#intro-yml" class="tab-nav__button">crossbow.yml</a>
            <a href="#intro-js" class="tab-nav__button">crossbow.js</a>
        </div>
        <div class="tab-content tab-content--active" id="intro-cbfile">
            {{hl src="snippets/cbfile.js"}}
        </div>
        <div class="tab-content" id="intro-yml">
            {{hl src="snippets/hero.yaml"}}
        </div>
        <div class="tab-content" id="intro-js">
            {{hl src="snippets/hero.js"}}
        </div>
    </div>
    <div class="hero__cta">
        <p class="perspective">
            <a href="{{$$.site.nav.docs.url}}" class="btn btn-8 btn-8f">Get Started</a>
        </p>
    </div>
</div>
