---
title: Crossbow - finally a task runner done right
---
<div class="hero">
    <h1 class="hero__title">Finally, a task runner done right!</h1>
    <h2 class="hero__summary">Uniting the ecosytem of front-end tooling</h2>
    <div class="hero__content">
        {{inc
            src="three.hbs"
            name="intro"
            yml="snippets/hero.yaml"
            cbfile="snippets/cbfile.js"
            js="snippets/hero.js"
        }}
    </div>
    <div class="hero__cta">
        <p class="perspective">
            <a href="{{$$.site.nav.docs.url}}" class="btn btn-8 btn-8f">Get Started</a>
        </p>
    </div>
</div>
