<div class="hero">
    <h1 class="hero__title">Finally, a task runner done right!</h1>
    <h2 class="hero__summary">Uniting the ecosytem of front-end tooling</h2>
    <div class="hero__content">
        <div class="tab-nav">
            <button type="button" class="tab-nav__button tab-nav__button--active">cbfile.js</button>
            <button type="button" class="tab-nav__button">yml</button>
            <button type="button" class="tab-nav__button">js</button>
        </div>
        {{hl src="snippets/hero.js"}}
    </div>
    <div class="hero__cta">
        <p class="perspective">
            <a href="{{$$.site.nav.docs.url}}" class="btn btn-8 btn-8f">Get Started</a>
        </p>
    </div>
</div>
